<div class="container">

    <br>
    <h1 class="text-center text-success"> select Sub Sub category</h1>
    {{data1}}
    <br>
   
   <div class="cat">
     <form class="text-center" name="frm1">
       <div class="row">
           <div class="col-2"></div>
           <div class="col-8">
               <div class="input-group mb-3 ">
                   <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold">Category:</span>
                   </div>
                   <select class="form-control" id="sel1" name="sellist1"  [(ngModel)]="t1" (change)="fun2()">
                     <option *ngFor="let ob of data" value="{{ob._id}}">{{ob.uname}}</option>
                   </select>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-2"></div>
           <div class="col-8">
               <div class="input-group mb-3 ">
                   <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold"> SubCategory:</span>
                   </div>
                   <select class="form-control" id="sel1" name="sellist1" [(ngModel)]="t2">
                     <option *ngFor="let ob of cdata"value="{{ob._id}}">{{ob.subcat}}</option>
                   </select>
              </div>
           </div>
       </div>
       <div class="row">
           <div class="col-2"></div>
           <div class="col-8">
               <div class="input-group mb-3 ">
                   <div class="input-group-prepend">
                     <span class="input-group-text font-weight-bold">Sub Sub Category:</span>
                   </div>
                   <input type="text" class=" form-control" name="txt1"  placeholder="enter sub category" [(ngModel)]="t3">
                   <input type="button"   class="btn btn-success" value="Add sub category" (click)="subsubcat_ins()">        
              </div>
           </div>
       </div>
     </form>
      <br>
      {{t1}}
       <div class="table-responsive">
           <table class="table table-bordered">
               <thead class="thead-light">
                   <tr>
                   <th>category</th>
                   <th>Sub Cateegory</th>
                   <th>Sub Sub Cateegory</th>
                   <th></th>
                   </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let obj of get_data">
                   <th *ngIf="obj._id!=temp; else elsediv">{{obj.catid}}</th>
                   <td *ngIf="obj._id!=temp">{{obj.subcatid}}</td>
                   <td *ngIf="obj._id!=temp">{{obj.name}}</td>
                   <td *ngIf="obj._id!=temp"><button class="btn btn-info" (click)="update(obj)">Update</button>
                     <span *ngIf="obj.active==1"><button class="btn btn-danger ml-4" (click)="inactive(obj)">inactive</button></span>
                     <span *ngIf="obj.active==0"><button class="btn btn-success ml-4" (click)="active(obj)">active</button></span>
                   </td>
                 </tr>
               </tbody>
           </table>
       </div>
         <div>
             <ng-template #elsediv>
                 <td>
                     <select class="form-control" id="sel1" name="sellist1"  [(ngModel)]="t1" (change)="sub_cat()">
                         <option *ngFor="let ob of data3" value="{{ob._id}}">{{ob.uname}}</option>
                     </select>
                 </td>
                 <td>
                     <select class="form-control" id="sel1" name="sellist1"[(ngModel)]="t2">
                         <option *ngFor="let ob of data"value="{{ob._id}}">{{ob.subCat}}</option>
                     </select>
                 </td>
                 <td><input type="text"[(ngModel)]="ssubCat"></td>
                 <td><input type="button" value="save" class="btn btn-success" (click)="save()"></td>
             </ng-template>
         </div>
   </div>
   </div>