<h3 class="text-center text-success">select sub category</h3>

<div class="cat">
<form class="">
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text font-weight-bold">Category:</span>
      </div>
      <!-- <select class="form-control" [(ngModel)]="catid">
        <option *ngFor="let ob of data" value="{{ob._id}}">{{ob.uname}}</option>
      </select> -->
      <select class="form-control" id="sel1" name="sellist1" [(ngModel)]="catid">
          <option *ngFor="let ob of data" value="{{ob._id}}">{{ob.uname}}</option>
        </select>
        <br>
        <input type="text" class="form-control" name="txt1"  placeholder="enter sub category" [(ngModel)]="subcat">
        <input type="button"   class="btn btn-success" value="Add sub category" (click)="subcatins()">
 
</div>

</form>
<table class="table table-bordered">
<thead>
  <tr>
    <th>sub category</th>
    <th>cname</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
<tr *ngFor="let ob of data1">
  <td *ngIf="ob._id!=temp; else elsediv" >{{ob.subcat}}</td>
  <td *ngIf="ob._id!=temp">{{ob.cname}}</td>
  <td *ngIf="ob._id!=temp">  <button class="btn btn-info" (click)="subcatup(ob)">update</button>
    
   <span *ngIf="ob.active==0"><button  class="btn btn-success ml-4" (click)="active(ob)">Active</button> </span> 
    
    <span *ngIf="ob.active==1" ><button class="btn btn-danger ml-4" (click)="inactive(ob)">Inactive</button></span>
  </td>
</tr>
</tbody>
</table>
<div >
<ng-template #elsediv>
<td>
  <input type="text" [(ngModel)]="text1">
</td>
<td>
    <select class="form-control"  [(ngModel)]="catid">
        <option *ngFor="let ob of data" value="{{ob._id}}">{{ob.uname}}</option>
      </select></td>
<td><button (click)="save()"> save</button></td>

</ng-template>
</div>
</div>