<br>
<h2 class="text-center text-success" >Select Category</h2>
<br>
<div class="cat">
<form class="text-center" name="frm1">
        <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                  <span class="input-group-text font-weight-bold">Category:</span>
                </div>
                <input type="text" class="form-control" placeholder="enter category" name="txt1" [(ngModel)]="t1">
                <input type="button"   class="btn btn-success" value="Add category" (click)="fun1()">
              </div>
</form>
<table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cateegory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ob of data">
                <th *ngIf="ob._id!=temp; else elsediv">{{ob._id}}</th>
                <td *ngIf="ob._id!=temp">{{ob.uname}}</td>
                <td *ngIf="ob._id!=temp"><button class="btn btn-info" (click)="update(ob)">Update</button><button class="btn btn-danger ml-4">delete</button></td>
                
            </tr>
        </tbody>
      </table>
      <div>
          <ng-template #elsediv>
              <td>{{temp}}</td>
              <td><input type="text"[(ngModel)]="text1"></td>
              <td><input type="button" value="save" class="btn btn-success" (click)="updatesave()"></td>
          </ng-template>
      </div>

</div>