
<h1>hello</h1>
<div class="container">
  
    <br>
    <br>
  <h2 class="text-center text-success md">Add Product Details</h2>
  <br>

<form id="img" method="post" name="form1" enctype="multipart/form-data" action="http://localhost:3000/upload">
    <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="text-success font-weight-bold input-group-text">Select Category:</span>  
                </div>
                <select class="form-control" id="cat" name="cat"[(ngModel)]="t1" (change)="subcatget()">
                  <option *ngFor="let ob of data" value="{{ob._id}}">{{ob.uname}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="text-success font-weight-bold input-group-text">Sub Category:</span>  
                    </div>
                    <select class="form-control" id="scat" name="scat" [(ngModel)]="t2" (change)="ssub_cat()">
                      <option *ngFor="let ob of subcat" value="{{ob._id}}">{{ob.subcat}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!------------------------------sub sub category-------------------------->
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="text-success font-weight-bold input-group-text"> Sub Sub Category:</span>  
                    </div>
                    <select class="form-control" id="sscat" name="sscat" [(ngModel)]="t3">
                      <option *ngFor="let ob of sscdata" value="{{ob._id}}">{{ob.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!------------------------------Brand-------------------------->
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="text-success font-weight-bold input-group-text">Select Brand:</span>  
                    </div>
                    <select class="form-control" id="brand" name="brand" [(ngModel)]='pb'>
                      <option *ngFor="let ob of bdata" value="{{ob._id}}">{{ob.brandname}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-----------------------------product name---------------------------------->
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="text-success font-weight-bold input-group-text">Product:</span>  
                    </div>
                    <input type="text" [(ngModel)]="pn" name="pn" class="form-control">
                  </div>
                </div>
              </div>
            
              <!---------------------product color---------------------->
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="text-success font-weight-bold input-group-text">Product Color:</span>  
                    </div>
                    <input type="color"  class="form-control" name="pc" [(ngModel)]="pc">
                  </div>
                </div>
              </div>
              <!----------------- product quantity------------------>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="text-success font-weight-bold input-group-text">Product quantity:</span>  
                    </div>
                    <input type="number" [(ngModel)]="pq" name="pq" class="form-control">
                  </div>
                </div>
              </div>
              
              <!---------------------description------------------------>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="text-success font-weight-bold input-group-text" rows="5">Description:</span>  
                    </div>
                    <textarea class="form-control"[(ngModel)]="pd" name="pd" ></textarea>
                  </div>
                </div>
              </div>


<!-- <h6>select image:</h6> <input id="imgid" name="file1" type="file" > <br><br> -->
<!------------------image------------------------------>
<div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="text-success font-weight-bold input-group-text">Image:</span>  
            </div>
            <input type="file" class="form-control" [(ngModel)]="pi" name="f1">
          </div>
        </div>
      </div>
    
      <!-------------------product price------------------------>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="text-success font-weight-bold input-group-text">Product Price:</span>  
            </div>
            <input type="number" [(ngModel)]="pp" name="pp" class="form-control">
          </div>
        </div>
      </div>
      <!-----------------------rating---------------------------->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="text-success font-weight-bold input-group-text">Rating:</span>  
            </div>
            <input type="number" [(ngModel)]="pr" name="pr" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <input type="button" class="btn btn-success float-right" value="Add Product" (click)="addproduct()">
            </div>
          </div>
</form>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Cat</th>
        <th>SubCat</th>
        <th>SSubCat</th>
        <th>Brand</th>
        <th>PName</th>
        <th>PColor</th>
        <th>PQuantity</th>
        <th>PDesc</th>
        <th>PRating</th>
        <th>PPrice</th>
        <th>img</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ob of prodata">
        <th *ngIf="ob._id!=temp">{{ob._id}}</th>
        <td *ngIf="ob._id!=temp">{{ob.cname}}</td>
        <td *ngIf="ob._id!=temp">{{ob.scname}}</td>
        <td *ngIf="ob._id!=temp">{{ob.sscname}}</td>
        <td *ngIf="ob._id!=temp">{{ob.brandname}}</td>
        <td *ngIf="ob._id!=temp">{{ob.name}}</td>
        <td *ngIf="ob._id!=temp">{{ob.color}}</td>
        <td *ngIf="ob._id!=temp">{{ob.quantity}}</td>
        <td *ngIf="ob._id!=temp">{{ob.desc}}</td>
        <td *ngIf="ob._id!=temp">{{ob.price}}</td>
        <td *ngIf="ob._id!=temp">{{ob.rating}}</td>
        <td *ngIf="ob._id!=temp"><img src="img/"></td>
        <td *ngIf="ob._id!=temp"><input type="button" class="btn btn-prime" value="Update" (click)="update()">
            <input type="button" class="btn btn-warning" value="Delete"(click)="delete()">
        </td>
      </tr>
    </tbody>
  </table>
  <img src="./../../img/img1531817524_img1.jpeg">

  <div>
    <ng-template #div>
      <th>ob._id</th>
      <td>
        <select class="" id="cat" name="cat"[(ngModel)]="t1" (change)="sub_cat()">
          <option *ngFor="let ob of cdata" value="{{ob._id}}">{{ob.uname}}</option>
        </select>
      </td>
      <td>
        <select class="" id="scat" name="scat" [(ngModel)]="t2" (change)="ssub_cat()">
          <option *ngFor="let ob of scdata" value="{{ob._id}}">{{ob.subCat}}</option>
        </select>
      </td>
      <td>
        <select class="" id="sscat" name="sscat" [(ngModel)]="t3">
          <option *ngFor="let ob of sscdata" value="{{ob._id}}">{{ob.ssubCat}}</option>
        </select>
      </td>
      <td>
        <select class="" id="brand" name="brand" [(ngModel)]='pb'>
          <option *ngFor="let ob of bdata" value="{{ob._id}}">{{ob.brandName}}</option>
        </select>
      </td>
      <td>
        <input type="text" [(ngModel)]="pn" name="pn" class="">
      </td>
      <td>
        <input type="color"  class="" name="pc" [(ngModel)]="pc">
      </td>
      <td>
        <input type="number" [(ngModel)]="pq" name="pq" class="">
      </td>
      <td>
        <textarea class=""[(ngModel)]="pd" name="pd" ></textarea>
      </td>
      <td>
        <input type="file" class="" [(ngModel)]="pi" name="f1">
      </td>
      <td>
        <input type="number" [(ngModel)]="pp" name="pp" class="">
      </td>
      <td>
        <input type="number" [(ngModel)]="pr" name="pr" class="">
      </td>
      <td>
        <input type="button" class="btn btn-success float-right" value="Save" (click)="save()">
      </td>
    </ng-template>
  </div>

</div>

</div>