<div class="container">
<br>
   <h1 class="text-center text-success" >Add Brand</h1>
<br>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<input type="text" class="form-control" placeholder="Enter Brand Name" [(ngModel)]="brandname">
</div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 py-3 "><input type="button"class="btn btn-success float-right" value="Add Brand" (click)="brandins()"></div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>brand Name</th>
      <th>active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ob of branddata">
      <td *ngIf="ob._id!=temp; else elsediv">{{ob._id}}</td>
      <td *ngIf="ob._id!=temp">{{ob.brandname}}</td>
      <td *ngIf="ob._id!=temp"><input type="button" class="btn btn-primary" value="update"(click)="update(ob)">
        <input  type="button" class="btn btn-danger" value="inactive"(click)="inactive(ob)">
        <input  type="button" class="btn btn-success" value="active"(click)="active(ob)">
      </td>
    </tr>
  </tbody>
</table>
<div>
  <ng-template #elsediv>
      <td>{{temp}}</td>
      <td><input type="text"[(ngModel)]="text1"></td>
      <td><input type="button" value="save" class="btn btn-success" (click)="save()"></td>
  </ng-template>
</div>
</div>